.decorative-section {
  background-color: #191c26;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  gap: 30px;
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.booking__container {
  width: 570px;
}
.input-name-phone {
  display: flex;
  /* justify-content: space-between; */
  gap: 30px;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .input-name-phone {
    flex-direction: row;
  }
  label {
    flex-basis: calc((100% - 30px) / 2);
  }
}

.booking-form {
  display: flex;
  flex-direction: column;
  margin-top: 44px;
  width: 100%;
}

.input-area,
.massage {
  background: none;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.677;
  letter-spacing: 0.01em;
  color: $color_white;
  width: 100%;
  display: block;
}

// .input-area {
//   width: 200px;
// }

.massage:focus,
.input-area:focus {
  border-color: var(--secondary-text-color-dark-theme);
  outline: none;
}

.input-area:focus.input-area::placeholder,
.massage:focus.massage::placeholder {
  border-color: $color_white;
  outline: none;
  color: $color_white;
}

.massage {
  resize: none;
  height: 76px;
  color: $color_white;
  margin-top: 44px;
}

.input-area::placeholder,
.massage::placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);

  transition: color $transition__stock;
}

.submit-btn {
  display: block;
  margin-top: 44px;
  max-width: 160px;
  font-family: var(--primery-font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: $color_white;
  background-color: transparent;
  border: 1px solid $color_accent;
  border-radius: 25px;
  padding: 12px 20px;
  transition: background-color $transition__stock, color $transition__stock;
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: $color_accent;
}
